html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#gui_container{
    position: absolute;
    top: 50px;
}

#gui{
    /* transform:translate(0%,-50%); */
}